html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
}


input {
  background-color: #aaa;
  font-size: 20px;
}

input,
button {
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 500ms;

}

